<!-- Main Content -->
<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>New Award</h4>
              </div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit()" #awardForm="ngForm">
                  <div class="form-group">
                    <label for="project">Project</label>
                    <input type="text" id="project" class="form-control" [(ngModel)]="award.project" name="project" required>
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" [(ngModel)]="award.title" name="title" required>
                  </div>
                  <div class="form-group">
                    <label for="images">Images</label>
                    <input type="text" id="images" class="form-control" [(ngModel)]="award.images" name="images" required>
                  </div>
                  <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" id="position" class="form-control" [(ngModel)]="award.position" name="position" required>
                  </div>
                  <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>